    *{
        -fx-inex-blue:#2176a5;
        -fx-inex-green:#339e32;
        -fx-inex-gradient:linear-gradient(from 0% 0% to 100% 100%, -fx-inex-blue, -fx-inex-green);
     }

    .leftMenu {
    -fx-background-color: white;
    }

    .toggleButtons{
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-color: white;
    -fx-text-fill: -fx-inex-gradient;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color:-fx-inex-gradient;
    -fx-font-weight:700;
    }

    .toggleButtons:selected{
       -fx-background-color: -fx-inex-gradient;
       -fx-text-fill: white;
    }

    .progress-bar {
         -fx-pref-width: 500px;
         -fx-pref-height: 50px;
        }

    .progress-bar > .bar {
        -fx-background-color: linear-gradient(
            from 0px .75em to .75em 0px,
            repeat,
            -fx-accent 0%,
            -fx-accent 49%,
            derive(-fx-accent, 30%) 50%,
            derive(-fx-accent, 30%) 99%
        );
    }

    .tab{
         -fx-pref-width : 370;
         -fx-pref-height : 50;
         -fx-border-color: none;
    }

    .tab-header-background{
         -fx-background-color: -fx-inex-gradient;
    }

    .tab-selected-line{
         -fx-background-color : Yellow;
    }

    .chart-series-line{
        -fx-stroke-width: 2px;
        -fx-stroke: -fx-inex-green;
    }

    .chart-line-symbol{
        -fx-background-color: #317FFF, White;
        -fx-background-radius: 5px;
    }
    .labelGreen{
    -fx-text-fill: -fx-inex-green;
    }
    .labelBlue{
    -fx-text-fill: -fx-inex-blue;
    }
    .blueSqr{
    -fx-fill: -fx-inex-blue;
    }
    .greenSqr{
    -fx-fill: -fx-inex-green;
    }

    .buttonBG {
    -fx-background-color: rgba(33,118,165,0.8);
    jfx-rippler-fill:-fx-inex-green;
    }
    .buttonGB {
    -fx-background-color: rgba(51,158,50,0.8);
    jfx-rippler-fill:-fx-inex-blue;
    }

