    *{
        -fx-inex-blue:#2176a5;
        -fx-inex-green:#339e32;
        -fx-inex-gradient:linear-gradient(from 0% 0% to 100% 100%, -fx-inex-blue, -fx-inex-green);
     }

    .leftMenu {
    -fx-background-color: white;
    }

    .toggleButtons{
    -fx-pref-width: 180px;
    -fx-pref-height: 40px;
    -fx-background-color: white;
    -fx-text-fill: -fx-inex-gradient;
    -fx-background-radius: 50px;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;
    -fx-border-color:-fx-inex-gradient;
    -fx-font-weight:700;
    }

    .toggleButtons:selected{
       -fx-background-color: -fx-inex-gradient;
       -fx-text-fill: white;
    }

    .progress-bar {
         -fx-pref-width: 500px;
         -fx-pref-height: 50px;
        }

    .progress-bar > .bar {
        -fx-background-color:linear-gradient(from 0% 0% to 100% 100%, -fx-inex-blue, -fx-inex-green);
    }

    .tab{
         -fx-pref-width : 370;
         -fx-pref-height : 50;
         -fx-border-color: none;
    }

    .tab-header-background{
         -fx-background-color: -fx-inex-gradient;
    }

    .tab-selected-line{
         -fx-background-color : Yellow;
    }

    .chart-series-line{
        -fx-stroke-width: 2px;
        -fx-stroke: -fx-inex-green;
    }

    .chart-line-symbol{
        -fx-background-color: #317FFF, White;
        -fx-background-radius: 5px;
    }
    .labelGreen{
    -fx-text-fill: -fx-inex-green;
    }
    .labelBlue{
    -fx-text-fill: -fx-inex-blue;
    }
    .blueSqr{
    -fx-fill: -fx-inex-blue;
    }
    .greenSqr{
    -fx-fill: -fx-inex-green;
    }

    .buttonBG {
    -fx-background-color: rgba(33,118,165,0.8);
    jfx-rippler-fill:-fx-inex-green;
    }
    .buttonBG:hover {
        -fx-background-color: -fx-inex-green;
        }
    .buttonGB {
    -fx-background-color: rgba(51,158,50,0.8);
    jfx-rippler-fill:-fx-inex-blue;
    }

    .chart {
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.8) , 10, 0.0 , 0 , 2 );
    }

    .sec-line-chart .chart-line-symbol{
            -fx-background-color: transparent;
            -fx-background-radius: 0px;
        }

        .sec-line-chart .chart-series-line{
                -fx-stroke-width: 2px;
                -fx-stroke: -fx-inex-blue;
            }
    }
    .text-area .text {
        -fx-padding: 10px;
        -fx-line-spacing: 5px;
    }

    .grid {
        -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, -fx-inex-blue, -fx-inex-green);
        -fx-border-width: 2;
    }
    .infoContainer {
     -fx-border-color: linear-gradient(from 0% 0% to 100% 100%, -fx-inex-blue, -fx-inex-green);
            -fx-border-width: 2;
            }





